.DS_Store

/node_modules

/.env
/npm-debug.log
yarn-error.log

dist/*
!/dist/.gitkeep

data/*
!/data/.gitkeep

.terraform
terraform.tfstate*
.terraform.tfstate*
terraform.tfstate.backup
.terraform.auto.tfvars


# Localstack
volume/